@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("https://pibig.info/uploads/posts/2022-10/1666839958_1-pibig-info-p-fon-s-perom-vkontakte-1.jpg");
}

.wrapper{
    width: 770px;
    padding: 35px;
    background: #fff;
    border-radius: 10px;
}

.wrapper .input-field{
    position: relative;
    z-index: -999;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.content-box .typing-text{
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct{
    color: #56964f;
}

.typing-text p span.incorrect {
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid;
    border-radius: 4px;
    transition: background 0.3s; /* Добавим анимацию для плавного изменения фона */
}

.typing-text p span.active{
    color:#17A2b8;
}

.typing-text p span.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    opacity: 0;
    width: 100%;
    background-color: #17A2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}



.content-box .content {
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.content button {
    border: none;
    outline: none;
    width: 105px;
    background: #17A2b8;
    padding:8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #17A2b8;
    transition: transform 0.3s ease;
}

.content button:active {
    transform: scale(0.97);
}

.content .result-details{
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result-details li{
    height: 22px;
    display: flex;
    list-style: none ;
    align-items: center;

}

.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}

.result-details li p {
    font-size: 19px;
}

.result-details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li:not(:first-child) span{
    font-weight: 500;
}

.result-details li b{
    font-weight: 500;
}

